<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"
        integrity="sha512-MinqHeqca99q5bWxFNQEQpplMBFiUNrEwuuDj2rCSh1DgeeTXUgvgYIHZ1puBS9IKBkdfLMSk/ZWVDasa3Y/2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/base16/summerfruit-dark.min.css"
        integrity="sha512-LNr+e2/uIp1bESulEPVt+dsCJH+s/mBWrTVZHhw4UbLZc2/DE5t/fFQoZKkTwAqr5YDr5CF88wK5Ttb8ufMvcg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <%- include('_buttons.ejs', {id: locals.id}) %>
        <div class="wrapper">
            <div class="line-numbers">
                <h1>
                    <%=codehunts.name; %>
                </h1> 
                <pre><code ><%=codehunts.code; %></code></pre> <br> 
                
                <!-- Delete Button -->
                <div class="deleteandeditBtn">
                    <div>
                <form action="/codehunt/<%=codehunts._id%>?_method=DELETE" method="POST">
                    <input 
                    type="submit" 
                    value="Delete" 
                    class="deleteBtn" />
                </form>
            </div>
                <!-- Edit Button -->
                <div>
                <form
                action="/codehunt/<%=codehunts._id%>/edit">
                <input
                  type="submit"
                  value="Edit "
                  class="editBtn"/>
                </div>
                </div>
                
        </div>
        </div>
</body>

</html>